{% extends "main.html" %}
{% load static %}
{% block content %}


<nav class="d-flex flex-row justify-content-between align-items-center px-5 my-2">
    <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo" style="width: 100px;"></a>
    <form action="{% url 'results' %}" method="get">
        <div class="d-flex align-items-center border border-2 rounded-pill main-search-bar"
            style="border: 3px solid #415A77 !important; width: 35vw; height: 2.5rem;">
            <!-- <i class="bi bi-search mx-3 search-collapsed" style="color: #415A77;"></i> -->
            <!-- <p class="search-collapsed m-0">Search by author, book or subject</p> -->
            <input type="text" name="query" id="query" placeholder="search by author, book or subject"
                class="flex-grow-1 border-0 border-bottom my-2 mx-3 fs-6">
            <button type="submit" class="btn">
                <i class="bi bi-search" style="color: #415A77;"></i>
            </button>
        </div>
    </form>
    <p class="m-0"><i class="bi bi-person"></i> <small class="">Hello, {{ bookuser }}</small></p>

</nav>

<div class="mx-4 px-5 pb-5 rounded " style="background-color: #E0E1DD; box-shadow: 8px 10px 14px rgba(0, 0, 0, 0.25);">
    <h2 class="h2 fw-bold pt-4 pb-5">Payment</h2>
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'thank_you' %}" method="post">
                {% csrf_token %}
                <div class="d-flex flex-row justify-content-between">
                    <h3 class="h3">Pay: </h3>
                    <div class="btn-container">
                        <label class="btn-color-mode-switch">
                            <input type="checkbox" name="new" id="new_toggle" value="1" checked>
                            <label for="new_toggle" data-on="Card" data-off="Cash"
                                class="btn-color-mode-switch-inner"></label>
                        </label>
                    </div>
                </div>
                <div id="payment-form">
                    <label for="cardnum" class="form-label">Card Number</label>
                    <input type="text" class="form-control" id="cardnum" name="cardnum"
                        placeholder="XXXX-XXXX-XXXX-XXXX" required>
                    <label for="cardholder" class="form-label">Cardholder Name</label>
                    <input type="text" class="form-control" id="cardholder" name="cardholder" placeholder="John Doe"
                        required>
                    <label for="expdate" class="form-label">Expiration Date</label>
                    <input type="text" class="form-control" id="expdate" name="expdate" placeholder="MM/YYYY" required>
                    <label for="cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="eg. 311" required>
                </div>

                <button type="submit" class="btn btn-primary mt-4 px-5 border-0"
                    style="background-color: #044B32; color: #D5EDE7;;"><i class="bi bi-cart-check-fill"></i>
                    Pay</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="card my-3"
                style="max-width: 100%; background-color: #ECEDE9; box-shadow: 8px 10px 14px rgba(0, 0, 0, 0.25);">
                <div class="d-flex flex-row justify-content-start">
                    <div style="width:200px;" class="me-3">
                        <img src="{{ book.image.url }}" class="img-fluid mx-3 my-3" alt="{{book.title}} cover">
                    </div>
                    <div >
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between">
                                <div>
                                    <h4 class="card-title fw-bold">{{ book.title }}</h4>
                                    <p class="card-text">{{ book.author }}</p>
                                    <p class="card-text">{{ book.description }}</p>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="card-text me-2">Subject: {{ book.subject }}</p>
                                    <p class="card-text">Sold by: {{ book.user.username }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 d-flex flex-row justify-content-between">
                <div>
                    <p class="fw-bold">amount: ${{book.price}}</p>
                    <p class="fw-bold">+</p>
                    <p class="fw-bold">shipping: $0</p>
                    <p class="fw-bold pt-4 border-top" style="border-color: black !important;">Total: <span style="color: #044B32;">${{book.price}}</span></p>

                </div>

                <div>
                    <p>Deliver to:</p>
                    <p class="fw-bold">{{ bookuser.address }}</p>
                    <a href="#" class="btn" style="color: #415A77;"><small class="fw-bold">change address</small></a>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    const toggle = document.getElementById('new_toggle');
    const paymentForm = document.getElementById('payment-form');
    toggle.addEventListener('change', function () {
        paymentForm.style.visibility = this.checked ? 'visible' : 'hidden';
        // remove required attribute from inputs if unchecked
        if (!this.checked) {
            const inputs = paymentForm.querySelectorAll('input');
            inputs.forEach(input => {
                input.removeAttribute('required');
            });
        } else {
            const inputs = paymentForm.querySelectorAll('input');
            inputs.forEach(input => {
                input.setAttribute('required', true);
            });
        }
    });
</script>
{% endblock %}