{% extends "main.html" %}
{% load static %}
{% block content %}

<nav class="d-flex flex-row justify-content-between align-items-center px-5 my-2">
    <a href="/" ><img src="{% static 'images/logo.png' %}" alt="logo" style="width: 100px;"></a>
    <form action="{% url 'results' %}" method="get" >
        <div class="d-flex align-items-center border border-2 rounded-pill main-search-bar" style="border: 3px solid #415A77 !important; width: 35vw; height: 2.5rem;">
            <!-- <i class="bi bi-search mx-3 search-collapsed" style="color: #415A77;"></i> -->
            <!-- <p class="search-collapsed m-0">Search by author, book or subject</p> -->
            <input type="text" name="query" id="query" placeholder="search by author, book or subject" class="flex-grow-1 border-0 border-bottom my-2 mx-3 fs-6" >
            <button type="submit" class="btn">
                <i class="bi bi-search" style="color: #415A77;"></i>
            </button>
        </div>
    </form>
    <p class="m-0"><i class="bi bi-person"></i> <small class="">Hello, {{ bookuser }}</small></p>

</nav>

<div class="mx-4 px-5 rounded " style="background-color: #E0E1DD; box-shadow: 8px 10px 14px rgba(0, 0, 0, 0.25);">
    <!-- <a href="{% url 'results' %}?query={{query}}&new={{new}}" class="btn mb-3 fw-bold"><i class="bi bi-arrow-left"></i> back</a> -->
    <div class="card my-3 border-0"
            style="max-width: 100%; background-color: #ecede900;">
            <div class="row g-3 py-5">
                <div class="col-md-3">
                    <img src="{{ book.image.url }}"
                        class="img-fluid mx-3 my-3" style="max-height: 200px;" alt="{{book.title}} cover">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-between">
                            <div>
                                <h4 class="card-title fw-bold">{{ book.title }}</h4>
                                <p class="card-text">{{ book.author }}</p>
                                <p class="card-text">{{ book.description }}</p>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <p class="card-text me-2">Subject: {{ book.subject }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 d-flex flex-column align-items-end justify-content-between p-5 pt-3">
                    <p class="fw-bold fs-4" style="color:#044B32">${{ book.price }}</p>
                    <a href="{% url 'buy' book_id=book.id %}" class="btn btn-info mb-2 px-3 py-2 fw-bold fs-6" style="background-color: #044B32; color: #D5EDE7; width: 180px;"><i class="bi bi-cart-check-fill"></i> BUY</a>
                    <a href="#" class="btn btn-info px-3 py-2 fw-bold fs-6" style="background-color: #0D1B2A; color: #D5EDE7; width: 180px;">CONTACT SELLER</a>
                </div>
            </div>
</div>

<div class="d-flex flex-row justify-content-between">
    <div>
        <p>sold by: {{ bookuser }}</p>
        <p style="color: #AC8806;">rating: {{ bookuser.rating}} stars</p>
        <p>Condition:  "{{ book.condition }}"</p>
    </div>
    <div>
        <p>Location: {{ book.location }} </p>
        <iframe class="rounded" style="box-shadow: 8px 10px 14px rgba(0, 0, 0, 0.25);"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.003782570361!2d21.413224076134888!3d42.00019437122856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144f5b01e6ef%3A0x534c9e995e7fa0cb!2sBlvd.%20Partizanski%20Odredi%2C%20Skopje%201000!5e0!3m2!1sen!2smk!4v1687382926607!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{% endblock %}